<section class="custom-title">
  <div class="container">
    {% set title = block.settings.title or section.settings.title or 'عنوان افتراضي' %}
    <h2 class="text-center">{{ title }}</h2>
  </div>
</section>
