<footer id="footer" class="footer bg-main">
            <div class="footer-wrap">
                <div class="footer-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="footer-infor">
                                    <div class="footer-logo">
                                        <a href="index.html">
                                            <img src="images/logo/logo-white.svg" alt="">
                                        </a>
                                    </div>
                                    <div class="footer-address">
                                        <p>549 Oak St.Crystal Lake, IL 60014</p>
                                        <a href="contact.html" class="tf-btn-default style-white fw-6">GET DIRECTION<i class="icon-arrowUpRight"></i></a>
                                    </div>
                                    <ul class="footer-info">
                                        <li>
                                            <i class="icon-mail"></i>
                                            <p>themesflat@gmail.com</p>
                                        </li>
                                        <li>
                                            <i class="icon-phone"></i>
                                            <p>315-666-6688</p>
                                        </li>
                                    </ul>
                                    <ul class="tf-social-icon style-white">
                                        <li><a href="#" class="social-facebook"><i class="icon icon-fb"></i></a></li>
                                        <li><a href="#" class="social-twiter"><i class="icon icon-x"></i></a></li>
                                        <li><a href="#" class="social-instagram"><i class="icon icon-instagram"></i></a></li>
                                        <li><a href="#" class="social-tiktok"><i class="icon icon-tiktok"></i></a></li>
                                        <li><a href="#" class="social-amazon"><i class="icon icon-amazon"></i></a></li>
                                        <li><a href="#" class="social-pinterest"><i class="icon icon-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="footer-menu">
                                    <div class="footer-col-block">
                                        <div class="footer-heading text-button footer-heading-mobile">
                                            Infomation
                                        </div>
                                        <div class="tf-collapse-content">
                                            <ul class="footer-menu-list">
                                                <li class="text-caption-1">
                                                    <a href="about-us.html" class="footer-menu_item">About Us</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="#" class="footer-menu_item">Our Stories</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="#" class="footer-menu_item">Size Guide</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="contact.html" class="footer-menu_item">Contact us</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="#" class="footer-menu_item">Career</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="my-account.html" class="footer-menu_item">My Account</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="footer-col-block">
                                        <div class="footer-heading text-button footer-heading-mobile">
                                            Customer Services
                                        </div>
                                        <div class="tf-collapse-content">
                                            <ul class="footer-menu-list">
                                                <li class="text-caption-1">
                                                    <a href="#" class="footer-menu_item">Shipping</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="#" class="footer-menu_item">Return & Refund</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="#" class="footer-menu_item">Privacy Policy</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="term-of-use.html" class="footer-menu_item">Terms & Conditions</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="FAQs.html" class="footer-menu_item">Orders FAQs</a>
                                                </li>
                                                <li class="text-caption-1">
                                                    <a href="wish-list.html" class="footer-menu_item">My Wishlist</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="footer-col-block">
                                    <div class="footer-heading text-button footer-heading-mobile">
                                        Newletter
                                    </div>
                                    <div class="tf-collapse-content">
                                        <div class="footer-newsletter">
                                            <p class="text-caption-1">Sign up for our newsletter and get 10% off your first purchase</p>
                                            <form id="subscribe-form" action="#" class="form-newsletter subscribe-form style-black" method="post" accept-charset="utf-8" data-mailchimp="true">
                                                <div id="subscribe-content" class="subscribe-content">
                                                    <fieldset class="email">
                                                        <input id="subscribe-email" type="email" name="email-form" class="subscribe-email" placeholder="Enter your e-mail" tabindex="0" aria-required="true">
                                                    </fieldset>
                                                    <div class="button-submit">
                                                        <button id="subscribe-button" class="subscribe-button" type="button"><i class="icon icon-arrowUpRight"></i></button>
                                                    </div>
                                                </div>
                                                <div id="subscribe-msg" class="subscribe-msg"></div>
                                            </form>
                                            <div class="tf-cart-checkbox">
                                                <div class="tf-checkbox-wrapp">
                                                    <input class="" type="checkbox" id="footer-Form_agree" name="agree_checkbox">
                                                    <div>
                                                        <i class="icon-check"></i>
                                                    </div>
                                                </div>
                                                <label class="text-caption-1" for="footer-Form_agree">
                                                    By clicking subcribe, you agree to the <a class="fw-6 link" href="term-of-use.html">Terms of Service</a> and <a class="fw-6 link" href="#">Privacy Policy</a>.
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="footer-bottom-wrap">
                                    <div class="left">
                                        <p class="text-caption-1">©2024 Modave. All Rights Reserved.</p>
                                        <div class="tf-cur justify-content-end">
                                            <div class="tf-currencies">
                                                <select class="image-select center style-default type-currencies color-secondary-2">
                                                    <option selected data-thumbnail="images/country/us.svg">USD</option>
                                                    <option data-thumbnail="images/country/vn.svg">VND</option>
                                                    <option data-thumbnail="images/country/fr.svg">EUR</option>
                                                </select>
                                            </div>
                                            <div class="tf-languages">
                                                <select class="image-select center style-default type-languages color-secondary-2">
                                                    <option>English</option>
                                                    <option>Vietnam</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tf-payment">
                                        <p class="text-caption-1">Payment:</p>
                                        <ul>
                                            <li>
                                                <img src="images/payment/img-1.png" alt="">
                                            </li>
                                            <li>
                                                <img src="images/payment/img-2.png" alt="">
                                            </li>
                                            <li>
                                                <img src="images/payment/img-3.png" alt="">
                                            </li>
                                            <li>
                                                <img src="images/payment/img-4.png" alt="">
                                            </li>
                                            <li>
                                                <img src="images/payment/img-5.png" alt="">
                                            </li>
                                            <li>
                                                <img src="images/payment/img-6.png" alt="">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>